body {
    font-family: 'Times New Roman', serif;
    background-color: hsl(287, 95%, 24%); /* Fundo roxo */
    color: #ffffff; /* Letras brancas */
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url('image.png'); 
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

header {
    background-color: hsl(287, 95%, 24%);
    color: #ffffff; /* Letras brancas */
    padding: 10px 0;
    text-align: center;
    width: 100%;
}

h1 {
    margin: 0;
    color: #ffffff; /* Letras brancas */
}

main {
    text-align: center;
    max-width: 800px;
    color: #ffffff; /* Letras brancas */
}

p {
    font-size: 20px; /* Ajustado para 20px */
    line-height: 1.6;
    color: #ffffff; /* Letras brancas */
}

label, input, select {
    display: block;
    margin: 5px auto;
    text-align: left;
    width: 100%;
    max-width: 300px;
    color: #ffffff; /* Letras brancas */
}

input, select {
    padding: 5px;
    font-size: 20px; /* Ajustado para 20px */
    color: #000000; /* Letras pretas para contraste */
}

.choice-button, .btn-proximo {
    background-color: hsl(287, 100%, 22%);
    border: none;
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 20px; /* Ajustado para 20px */
    color: #ffffff; /* Letras brancas */
}

.choice-button:hover, .btn-proximo:hover {
    background-color: hsl(275, 100%, 55%);
}

.passo {
    display: none;
}

.passo.ativo {
    display: block;
}
